body {
  background-color:#FFF8DC;
  font-family:Jazz LET,fantasy;
  background-image: url("../images/floral.gif");
  background-repeat:repeat;
  margin-right: 0px;
}
h1 {
  text-align:center;
  font-family:Jazz LET,fantasy;
}
ul {
  list-style-image: url(
}
